{% paginate blog.articles by section.settings.number_of_blog_posts %}
  {% for article in blog.articles %}
    <div>
      {% if article.image %}
        <img src="{{ article.image | img_url: 'medium'}}"
             alt="{{ article.image.alt }}">
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'w-20' }}
      {% endif %}

      <h1>{{ article.title }}</h1>

      {% if article.excerpt.size > 0 %}
        <p>{{ article.excerpt | strip_html }}</p>
      {% else %}
        <p>{{ article.content | strip_html | truncatewords: 15 }}</p>
        {%- comment -%}
          The truncatewords filter in Liquid is used to limit the number of words shown from a longer string (like an article or paragraph), and then adds "..." at the end to show that the text continues.
        {%- endcomment -%}
      {% endif %}
    </div>
  {% endfor %}

  {{ paginate | default_pagination }}
{% endpaginate %}
{% schema %}
  {
    "name": "Blog",
    "settings": [
      {
      "type": "range",
      "id": "number_of_blog_post",
      "step": 1,
      "min": 1,
      "max": 6,
      "label": "Blog Posts Per Page",
      "default": 3

      }
    ],
    "presets": [
      {
        "name": "",
        "settings": {
        }
      }
    ]
  }
{% endschema %}


{%- comment -%}
  range means theme editor me aik setting hogi k user range select kr sky k wo aik page pr kitny article show krwana chahata h jo hm paginate tag m pass krden gy means jo user select kryga utny e articles show hongy per page
{%- endcomment -%}