<div class="py-8">
  {% paginate blog.articles by section.settings.number_of_blog_posts %}
    <h1 class="text-center text-3xl">
      {{ blog.title }}
    </h1>
    <div class="max-w-6xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {% for article in blog.articles %}
          <div class="w-full py-6 px-3">
            <div class="bg-white shadow xl rounded-lg overflow-hidden">
              {% if article.image %}
                <a href="{{ article.url }}">
                  <img
                    class="w-full h-80 object-cover"
                    src="{{ article.image | img_url: 'medium'}}"
                    alt="{{ article.image.alt }}"
                  >
                </a>

              {% else %}
                {{ 'image' | placeholder_svg_tag: 'w-full h-80 object-cover bg-gray-100' }}
              {% endif %}

              <div class="p-4">
                <h1 class="text-xl font-medium my-4">{{ article.title }}</h1>
                {% if section.settings.show_description %}
                  {% if article.excerpt.size > 0 %}
                    <p>{{ article.excerpt | strip_html | truncatewords: 15 }}</p>
                  {% else %}
                    <p>{{ article.content | strip_html | truncatewords: 15 }}</p>
                    {%- comment -%}
                      The truncatewords filter in Liquid is used to limit the number of words shown from a longer string (like an article or paragraph), and then adds "..." at the end to show that the text continues.
                    {%- endcomment -%}
                  {% endif %}
                {% endif %}

                <a href="{{ article.url }}" class="font-medium text-blue-600 hover:text-blue-800 my-4 block">
                  {{- section.settings.blog_read_more -}}
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    {{ paginate | default_pagination }}
  {% endpaginate %}
</div>

{% schema %}
{
  "name": "Blog",
  "settings": [
    {
      "type": "range",
      "id": "number_of_blog_posts",
      "step": 1,
      "min": 1,
      "max": 6,
      "label": "Blog Posts Per Page",
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show Blog Description",
      "default": true
    },
    {
      "type": "text",
      "id": "blog_read_more",
      "label": "Read more label",
      "default": "Read more"
    }
  ]
}
{% endschema %}

{%- comment -%}
  range means theme editor me aik setting hogi k user range select kr sky k wo aik page pr kitny article show krwana chahata h jo hm paginate tag m pass krden gy means jo user select kryga utny e articles show hongy per page
{%- endcomment -%}
